﻿@using AjaxWithRazorPagesDemo.Data.Models
@model List<AjaxWithRazorPagesDemo.Data.Models.Car>

<table class="table table-striped">
    @foreach (Car car in Model!)
    {
        <tr>
            <td>@car.Model</td>
            <td>@car.Make</td>
            <td>@car.Year</td>
            <td>$@car.Price</td>
        </tr>
    }
</table>
