﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Ajax Demo";
}

<h2>Ajax Partial Example</h2>
<p>
    <button class="btn btn-primary"
            id="load">
        Load
    </button>
</p>
<div id="grid"></div>

@section Scripts{
    <script>
            $(function () {
                $('#load').on('click', function () {
                   $('#grid').load('/index?handler=CarPartial');
                });
            });
    </script>
}
